html,
body {
  height: 100% !important;
  margin: 0;
}

html {
  // see also type.scss
  color: $--color-text-primary;
}

::selection {
  color: rebeccapurple;
  background: var(--branding-primary);
  text-shadow: none;
}
