@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* purgecss start ignore */
@import 'prism-themes/themes/prism-material-oceanic.css';

@import './vars.css';
@import './global.css';
@import './nuxt-content.css';
@import './app-alert-box.css';

.zone__sandwich {
  & .top {
    @apply h-20;
  }
  & .middle {
    @apply pt-20 pb-10;
  }
}

.zone__sandwich__meat {
  background-color: var(--color-container);
}
.zone__sandwich__top {
  background-color: var(--color-sandwich-bg);
  color: var(--color-sandwich-text);
  & .app-side-bar__nav {
    @apply italic font-serif !important;
  }
}
.zone__sandwich__bottom {
  background-color: var(--color-sandwich-bg);
  color: var(--color-sandwich-text);
}

.taxonomy {
  & .taxonomy-label {
    @apply sr-only;
  }
  & .taxonomy-items {
    & li {
      @apply inline-block rounded-full text-xs;
      color: var(--color-taxonomy-text);
      background-color: var(--color-taxonomy-bg);
    }
    & li.is-hoverizable {
      &.taxonomy-items-active,
      &:hover {
        color: var(--color-taxonomy-text-hover);
        background-color: var(--color-taxonomy-bg-hover);
      }
      &.taxonomy-items-active {
        @apply underline;
      }
    }
  }
}

kbd {
  @apply font-mono bg-blue-500 text-white font-bold py-1 px-2 rounded inline-block uppercase;
}

/* purgecss end ignore */
