/**
 * copy-pasta of good starting point nuxt-content nested HTML
 * Bookmark:
 * - https://github.com/nuxt/content/blob/%40nuxt/content-theme-docs%400.6.0/packages/theme-docs/src/assets/css/main.css#L14-L88
 */

.document {
  /* contains .nuxt-content, but is a parent up */
  & .app-image.document-cover.has-image img {
    /* The document image does not look the same as inside the .nuxt-content */
    @apply border rounded-lg shadow-md;
    border-color: var(--color-container);
  }
  & a:not(.no-underline) {
    @apply underline;
    color: var(--color-container-text-link);
  }
  & a:hover {
    @apply no-underline;
    color: var(--color-container-text-link-hover);
  }
}

.nuxt-content {
  @apply break-words font-light; /* cannot put overflow-hidden */

  /* Horizontal margin before and after alert-box and/or code block */
  & .app-alert-box,
  & .nuxt-content-highlight {
    @apply my-5;
  }

  & .app-image.has-image {
    @apply float-right w-1/3 pl-5 mx-auto;
    /* position is always relative to where it is so we can z-index it */
    position: relative;
  }

  & iframe {
    @apply w-full !important;
  }

  & table {
    @apply table-auto;
    & tbody td {
      @apply border;
    }
    & thead th {
      @apply px-2 py-2;
    }
  }

  & .page-title {
    @apply text-xl;
    color: var(--color-title);
  }

  & .nuxt-content-highlight {
    @apply relative grid;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute right-0 top-0 text-gray-100 z-10 font-mono text-sm tracking-tight leading-none mr-4 mt-3;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*='language-'] {
      @apply pt-8 bg-gray-800 static;
    }

    & pre {
      @apply overflow-scroll break-all;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-2 py-2 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply outline-none bg-gray-600;
      }
    }
    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }

  /** ***** **/

  & table,
  & p,
  & iframe,
  & ul,
  & ol {
    @apply mb-5;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply my-5 italic font-serif;

    color: var(--color-subtitle);
  }
  & h2,
  & h1 {
    @apply text-2xl;
    color: var(--color-title);
  }
  & h3 {
    @apply text-xl;
  }
  & h4,
  & h5,
  & h6 {
    @apply text-lg;
  }
  & li {
    @apply list-outside;

    color: inherit;
  }
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type#Values */
  & ul {
    list-style-type: disc;
  }
  & ol {
    @apply italic font-serif font-hairline;

    list-style-type: lower-roman;
  }
  & li,
  & blockquote {
    @apply pl-4;
  }
  & ol > li {
    @apply my-5;
  }
}

/* when smaller than md */
@media (max-width: 640px) {
  .nuxt-content .app-image.has-image,
  .document-cover.app-image.has-image {
    @apply float-none w-full pl-0;
  }
}
