:root {
  --color-sandwich-bg: #000;
  --color-sandwich-left-splat-bg: #bdbdbd;
  --color-sandwich-text: #fff;
  --color-container: #fff;
  --color-backdrop: #e5e5e5;
  --bg: var(--color-backdrop);
  --color: #577f79;
  --color-title: #262626;
  --color-subtitle: #999;
  --color-primary: #214761;
  --color-secondary: #bb3f3f;
  --color-tertiary: #cb7723;
  --bg-secondary: #e5e5e5;
  --border-color: #aaa;
  --color-taxonomy-bg: #bdbdbd;
  --color-taxonomy-bg-hover: #959595;
  --color-taxonomy-text-hover: #fff;
  --color-taxonomy-text: #313131;
  --color-container-text-link: var(--color-primary);
  --color-container-text-link-hover: var(--color-secondary);
}

.dark-mode {
  --color-sandwich-bg: #214761;
  --color-sandwich-left-splat-bg: #0d334d;
  --color-sandwich-text: #fff;
  --color-container: #5d839d;
  --color-backdrop: #000;
  --bg: var(--color-backdrop);
  --color: #f4f7f3;
  --color-title: #262626;
  --color-subtitle: #262626;
  --color-primary: #577f79;
  --color-secondary: #fdf9f3;
  --bg-secondary: #214761;
  --border-color: #061a17;
  --color-taxonomy-bg: #bdbdbd;
  --color-taxonomy-bg-hover: #959595;
  --color-taxonomy-text-hover: #fff;
  --color-taxonomy-text: #313131;
  --color-container-text-link: var(--bg-secondary);
  --color-container-text-link-hover: var(--color-secondary);
}
