<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} — by Renoir Boulanger</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="remark,remarkjs,markdown,slideshow,presentation" />
    <meta name="description" content="A simple, in-browser, markdown-driven slideshow tool." />
    <link rel=stylesheet href="https://cdn.rawgit.com/PrismJS/prism-themes/master/themes/prism.css" />
    <link rel=stylesheet href="https://cdn.rawgit.com/PrismJS/prism-themes/master/themes/prism-atom-dark.css" />
  </head>
  <body>
    <script src="http://gnab.github.io/remark/downloads/remark-latest.min.js"></script>
    <script>
      var hljs = remark.highlighter.engine;
      var slideshow = remark.create({
          highlightStyle: 'mookai',
          highlightLanguage: 'remark',
          sourceUrl: 'slides.txt'
        }) ;
      hljs.registerLanguage('remark', function () {
        return {
          contains: [
            {
              className: 'keyword',
              begin: '^#+[^\n]+',
              relevance: 10
            },
            {
              className: 'comment',
              begin: '^---?'
            },
            {
              className: 'string',
              begin: '^\\w+:'
            },
            {
              className: 'literal',
              begin: '\\{\\{', end: '\\}\\}'
            },
            {
              className: 'string',
              begin: '\\.\\w+'
            }
          ]
        };
      });
    </script>
  </body>
</html>
