<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} — by Renoir Boulanger</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {{#if keywords }}<meta name="keywords" content="{{keywords}}" />{{/if}}
    {{#if description }}<meta name="description" content="{{description}}" />{{/if}}
    <script src="/talks/js/remark.js"></script>
    <script src="/talks/css/highlight.min.js"></script>
    <link rel="stylesheet" href="/talks/js/highlight.min.css">
    <script src="/talks/js/socket.js" id="socketio"></script>
  </head>
  <body>
    {{{ contents }}}
    <script>
        var  slideshow = remark.create({
                sourceUrl: 'slides.md',
                highlightStyle: 'monokai',
                highlightLines: true
             })
            ,clientId = null
            ,socket = io.connect()
            ,currentSlide = 1;

        /**
         * Parse query param to retrieve the ?id= value from address bar.
         */
        var parseQueryParams = function(queryString) {
            var match = queryString.match(/([^?#]*)(#.*)?$/);
            if (!match) return null;
            var queryParams = match[1].split("&");
            var id;
            for (var idx in queryParams) {
                var param = queryParams[idx];
                if (param.split("=")[0] === "id") {
                    id = param.split("=")[1];
                }
            }
            return id;
        }
        // We set an id so that we can give same URL of the slides to the audience
        // without risking too much confusion. Unless they have very good eyes :)
        var _id = parseQueryParams(window.location.search);

        /**
         * Sync slides state accross different browsers.
         *
         * Client code. Should work only when using `make serve` from a local clone.
         *
         * See `serve.js` at the root of this project to see how events are forwarded.
         *
         * Thanks to:
         * - https://github.com/outsideris/Socket.IO-Slide
         * - https://bocoup.com/weblog/synchronizing-html5-slides-with-node-js/
         * - https://github.com/epeli/geekslides
         */
        if (document.location.port === "4000") {
            socket.on('connect', function socketConnectHandler () {
                clientId = socket.id||null;

                console.log('Hi, this is ' + clientId + ' connected to session ' + _id);

                socket.on('triggerSlide', function socketioTriggerSlideHandler (obj) {
                    if (obj.nextSlide && obj.id === _id && clientId !== obj.clientId) {
                        console.log('triggerSlide received and forwarded by', clientId, currentSlide, obj.nextSlide);
                        slideshow.gotoSlide(obj.nextSlide);
                    }
                });

                slideshow.on('beforeShowSlide', function slideshowShowSlideHandler (slide) {
                    currentSlide = slide.getSlideIndex();
                    var nextSlide = currentSlide + 1;
                    socket.emit('nextSlide', {id: _id, nextSlide: nextSlide, clientId: clientId});
                    console.log('slideshow.on beforeShowSlide emitted by', clientId, slide.getSlideIndex());
                });
            });
        } else {
            /** we are not in presenter mode, remove websockets! */
            document.scripts.forEach(function(domNode){
                if (!!domNode.getAttribute('id') && domNode.getAttribute('id') === "socketio") {
                    domNode.parentElement.removeChild(domNode);
                }
            });
            try {
                socket.destroy();
            } catch(e){}
        }
        document.addEventListener('readystatechange', function(e){
            if ( !!window.talk ) {
                return;
            }
            document.addEventListener('talk-toc', function(e){
                var list = document.querySelector('.toc-items ul');
                e.detail.data.chapters.forEach(function(listEl){
                    var aElemTemplate  = document.createElement('a')
                      , liElemTemplate = document.createElement('li');
                    aElemTemplate.setAttribute('href', '#' + listEl[0]);
                    aElemTemplate.innerHTML = listEl[1];
                    liElemTemplate.appendChild(aElemTemplate);
                    list.appendChild(liElemTemplate);
                });
            });
            var talk = {chapters:[]};
            document.querySelectorAll('.chapter').forEach(function( chapterNode ){
                var idString = chapterNode.getAttribute('id')
                  , textContent = chapterNode.querySelector('h1').textContent;
                if (!!idString) {
                    var slideIdentifier = idString.replace('slide-','');
                    talk.chapters.push([slideIdentifier, textContent]);
                }
            });
            window.talk = talk;
            var evtData = {detail: {data: talk, subName: 'init'}}
              , evt = new CustomEvent('talk-toc', evtData);
            document.querySelectorAll('.remark-slide-number').forEach(function(elem){
                    var tocLink = document.createElement('a');
                    tocLink.setAttribute('href', '#toc');
                    tocLink.innerHTML = elem.textContent;
                    elem.innerHTML = '';
                    elem.appendChild(tocLink);
                });
            e.target.dispatchEvent(evt);
        });
    </script>
  </body>
</html>
